<a href="/"><img src="/assets/litegov.png" class="img-responsive"></a>
<hr>
<p>liteGov, Inc. develops, sells and supports web-based software, also known as Software as a Service (SaaS), for local and state governments throughout North America.</p>

<p>liteGov helps state and local governments improve productivity and provide better services to citizens by streamlining and automating processes.</p>

<p>liteGov has partnered with Amazon.com and its EC2 cloud computing platform used by 1,000,000+ organizations worldwide to deliver industry leading performance, security and scalability to government customers.</p>

<p>Please contact us for more information about our company and our products.</p>
  <div class="carousel carousel-fade slide auto" id="c-slide">
    <div class="carousel-inner">
      <div class="item active row">
        <div class="col-xs-6 text-right">
          <img src="assets/iphone.png" class="animated fadeInUpBig m-r-lg">
        </div>
        <div class="col-sm-6">
          <h2 class="animated fadeInUp"><span class="font-thin">liteGov provides simple yet powerful web applications to local governments nationwide</span></h2>
          <p>
            <a href="/lots/" target="_blank" class="btn btn-lg btn-info animated fadeInRight btn-rounded btn-s-lg">it's simple, give it a try</a>
          </p>
        </div>
      </div>
      <div class="item row">
        <div class="col-xs-5 text-right">
          <h2 class="animated fadeInLeftBig"></h2>
          <p class="animated fadeInUpBig hidden-xs">
            Don't waist capital funds on software, just use what you want. <br>No development, no configuration, get started today.
          </p>
          <a href="/static_pages/contact" target="_blank" class="btn btn-lg btn-info animated fadeInRight btn-rounded btn-s-lg">1 (888) 939-3939</a>
        </div>
        <div class="col-xs-7">
          <img src="assets/ipad.png" class="animated fadeInRightBig">              
        </div>
      </div>
      <div class="item row">
        <div class="col-xs-6 text-right">
          <img src="assets/macpro.png" class="animated fadeInDownBig m-r-lg">
        </div>
        <div class="col-xs-6">
          <h2 class="animated fadeInUp"><strong class="text-white"></strong> <span class="font-thin">Use any web browser<br> tablet or smartphone</span></h2>
          <p class="animated fadeInDown hidden-xs">
            <strong>Workflows</strong> and <strong>Portfolios</strong> are pre-built.
          </p>
          <a href="/static_pages/contact" target="_blank" class="btn btn-lg btn-info animated fadeInRight btn-rounded btn-s-lg">1 (888) 939-3939</a>
        </div>
      </div>
    </div>
  </div>
</div>