<h3>You need to Sign In with Facebook to access this data</h3>
<p>Click the "Login with Facebook" link.</p>
<hr>
<%= link_to image_tag("/assets/LoginWithFacebook.png", :width => "150px"), user_omniauth_authorize_path(:facebook) %>