<h1><%= @title %></h1>

<div class='appeal-test refine'>
  <p>
    <b>Step 3. Refine your comparables list:</b>
  </p>

  <%= form_tag do %>
      <%= render :partial => 'similar_lots', :locals => { :properties => @properties, :full => true, :similar_by_land => @similar_by_land, :similar_by_building => @similar_by_building } %>
      <%= submit_tag 'Refine', :class => 'btn btn-success' %>
  <% end %>

  <p>
    <b>NOTE:</b> you may include these properties with your appeal application.
  </p>
</div>