/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	background-image: url('/assets/decaturmapbackground.jpg');
}

div.container ol.breadcrumb li a:hover {
  background-color: #084557 !important;
  color: #FFFFFF !important;
	text-decoration: none !important;
}


h1 { margin-top: 0px !important; font-size: 1.9em !important; text-align: right; padding: 0px 15px !important;}

.page {
	background: white;
	border: 1px solid #ddd;
	margin-bottom: 60px;
	padding: 10px;
}

.searchtool {
	border: 1px solid #ddd;
	background-color: #eee;
	padding-top: 10px;
}

.searchpadding {
	padding: 10px;
}

.showmap {
	height: 585px;
}

.graybackground {
	font-weight: 100;
	font-size: 1.5em;
}

div.container ol.breadcrumb li.active {
  color: white;
	background-color: #084557;
  text-align: right;
  width: 92%;
	padding: 10px 15px;
}

.breadcrumb > li + li:before {
  content: "" !important;
}

div.container ol.breadcrumb li a {
	padding: 10px;
}

.borderbottom {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #ddd;
}

form#lot_search.lot_search div.span8 div.field a.remove_fields {
	margin-top: -17px;
}

.red, .appeal {
	background-color: #c43c36;
	padding: 5px;
	color: white;
	border: 1px solid #7a5250;
	font-weight: 100;

}

.textright {
	text-align: right;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  height: 30px !important;
}