// Place all the styles related to the workflow controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.data-form {
  width: 100%;
  .key, .value {
    //vertical-align: middle;
    padding: 5px 0px;
  }
  .key {
    width: 150px;
    &.important {
      font-weight: bold;
    }
  }
  .value {
    input, textarea {
      width: 100% !important;
      height: auto !important;
    }
  }
}

.field_with_errors {
  input {
    background: lightpink;
    border: 1px solid red;
  }
}

.top-right-button {
  position: absolute;
  top: 0px;
  right: 0px;
}

.workflows-column {
  width: 250px;
  float: left;
  margin-bottom: 10px;
  label {
    font-weight: normal;
    margin: 0px 0px;
    cursor: pointer;
  }
  .new-workflow {
    margin: 5px 0px;
    font-size: 12px;
    width: 220px;
    padding: 3px 7px;
    background: #eee;
    input, select {
      width: 205px;
      margin-bottom: 5px;
      font-size: 12px;
    }
  }
}

.workflow-status {
  position: relative;
  .status-label {
    cursor: pointer;
  }

  .status-popover {
    position: absolute;
    width: 300px;
    //height: 150px;
    right: 0px;
    top: 30px;
    background: white;
    border-radius: 5px 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 5px 10px;
    font-size: 12px;

    h3 {
      margin: 10px 0px;
      padding: 0px 0px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }

    .revision-history {
      max-height: 200px;
      overflow-y: auto;
      background: #f5f5f5;
      color: #777;
      tr.first td {
        border-top: 1px solid #777;
      }
    }

    .bottom-buttons {
      margin-top: 7px;
      border-top: 1px solid #ccc;
      padding-top: 5px;
    }

    table {
      width: 100%;
      td {
        font-size: 12px;
        vertical-align: middle;
        select, textarea {
          width: 200px;
        }
        textarea {
          height: 75px!important;
        }
      }
      .key {
        width: 50px;
        font-weight: bold;
      }
    }
  }
}