<div class="bg-primary dk">
     <div class="carousel carousel-fade slide auto" id="c-slide">
       <ol class="carousel-indicators">
         <li data-target="#c-slide" data-slide-to="0" class="active"></li>
         <li data-target="#c-slide" data-slide-to="1" class=""></li>
         <li data-target="#c-slide" data-slide-to="2" class=""></li>
       </ol>
       <div class="carousel-inner">
         <div class="item active row">
           <div class="col-xs-6 text-right">
             <img src="assets/iphone.png" class="animated fadeInUpBig m-r-lg">
           </div>
           <div class="col-sm-6">
             <h2 class="animated fadeInUp"><span class="font-thin">liteGov provides simple yet powerful web applications to local governments nationwide</span></h2>
             <p>
               <a href="/lots/" target="_blank" class="btn btn-lg btn-info animated fadeInRight btn-rounded btn-s-lg">it's simple, give it a try</a>
             </p>
           </div>
         </div>
         <div class="item row">
           <div class="col-xs-5 text-right">
             <h2 class="animated fadeInLeftBig"></h2>
             <p class="animated fadeInUpBig hidden-xs">
               Don't waist capital funds on software, just use what you want. <br>No development, no configuration, get started today.
             </p>
           </div>
           <div class="col-xs-7">
             <img src="assets/ipad.png" class="animated fadeInRightBig">              
           </div>
         </div>
         <div class="item row">
           <div class="col-xs-6 text-right">
             <img src="assets/macpro.png" class="animated fadeInDownBig m-r-lg">
           </div>
           <div class="col-xs-6">
             <h2 class="animated fadeInUp"><strong class="text-white"></strong> <span class="font-thin">Use any web browser<br> tablet or smartphone</span></h2>
             <p class="animated fadeInDown hidden-xs">
               <strong>Workflows</strong> and <strong>Portfolios</strong> are pre-built.
             </p>
           </div>
         </div>
       </div>

     </div>
   </div>
   <div id="about">
     <div class="container">
       <p>&nbsp;</p>
       <div class="m-xl">
         <h2 class="font-thin">About liteGov</h2>
         <p>We understand simple. LiteGov, Inc. develops, sells and supports web-based software, also known as Software as a Service (SaaS), for local and state governments throughout North America. LiteGov software suite includes: Property Tax Explorer; Digest Workflow Manager; Digest Audit Manger; and a great Citizen Portal.</p>

         <p>The software allows state and local governments to improve productivity and provide better services to citizens by streamlining and automating processes to keep things simple, clear and transparent. To help small or large government agencies lower IT costs LiteGov has an simple SaaS subscription pricing model.</p>

         <p>LiteGov has partnered with Amazon.com and its EC2 cloud computing platform used by 1,000,000+ organizations worldwide to deliver industry leading performance, security and scalability to government customers.</p>

         <p>Please contact us for more information about our company and our products.</p>
       </div>
     </div>
   </div>
   <div class="bg-light" id="features">
     <div class="container">
       <p>&nbsp;</p>
       <div class="m-xl">
         <h2 class="font-thin">Features</h2>
         <p>Easy Access from any computer, tablet or smartphone</p>
       </div>
       <div class="row">
         <div class="col-sm-4 lt wrapper-xl">
           <div>
               <img src="/assets/explorermap.jpg" class="img-responsive">
             <h3 class="text-center">Property Tax Explorer</h3>
             <p>Get the most out of your Tax Digest. Engage citizens, manage property owners and use advanced tools to identify and correct digest errors.</p>
           </div>
         </div>
         <div class="col-sm-4 lter wrapper-xl">
            <img src="/assets/workflow.jpg" class="img-responsive">
           <div>
             <h3 class="text-center">Digest Workflow Manager</h3>
             <p>It's easy to manage your tax digest with Digest Workflow Manager. Simply identify criteria that requires examination, such as, property value deviations.</p>
           </div>
         </div>
         <div class="col-sm-4 wrapper-xl lt">
            <img src="/assets/audit.jpg" class="img-responsive">
           <div>
             <h3 class="text-center">Digest Audit Manger</h3>
             <p>Track, manage and report on digest audits. Assign to staff, track completions and get realtime updates to your digest.<br></p>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-sm-12 wrapper-xl dk">
           <div>
             <h3 class="text-center">Citizen Portal</h3>
             <img src="/assets/citizen.jpg" class="img-responsive" width="100%">

           </div>
         </div>
       </div>
     </div>